.form{
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}
.body{
  font-family: Georgia;
  font-size:17px;
  margin: auto;
 
}
.wrapper {
  padding: 0px;
}
.App{
  margin: 20px;
}
.inpt{
  width: 770px;
  height: 35px;
border-top: none;
border-left: none;
border-right: none;
border-color: dodgerblue;
border-radius: 05px;
border-width: 0px;
background-color:whitesmoke;
}
.inpt:hover{
border-style: none;
border-color:gray;

}
.time{
  font-family:Consolas;
  color: blue;
}
.container{
  padding-top: 60px;
  height: 500px;
  background-color:whitesmoke;
  padding-left: 10px;
  font-size: 20px;
}
.inpt::placeholder{
  color:rgb(34, 95, 209);
  font-family: serif;
}
.centerItems{
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
nav{
  display: flex;
  
  background-color: rgb(26, 178, 224);
  
  color: whitesmoke;
}
.nav-link{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:initial;
 list-style: none;
  margin: 05px;


}
#btn{
  width: 150px;
  height: 50px;
}
#btn2{
  width: 110px;
  height: 50px;
}
#btn1{
  width: 218px;
  height: 60px;
}

@media print {
  nav, #print, .container {
    display: none;
  }
}